--
-- PostgreSQL database dump
--

\restrict L0IDomEwha7fmyiabBUzIZeqKqcQeXVSKOLhVwWfwks9shf9TgvRFxE8VcRrZ4L

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP INDEX IF EXISTS public.idx_prices_ticker_date_asc;
DROP INDEX IF EXISTS public.idx_prices_ticker_date;
ALTER TABLE IF EXISTS ONLY public.source_metadata DROP CONSTRAINT IF EXISTS source_metadata_pkey;
ALTER TABLE IF EXISTS ONLY public.reports DROP CONSTRAINT IF EXISTS reports_pkey;
ALTER TABLE IF EXISTS ONLY public.raw_ingestion_items DROP CONSTRAINT IF EXISTS raw_ingestion_items_pkey;
ALTER TABLE IF EXISTS ONLY public.prices DROP CONSTRAINT IF EXISTS prices_pkey;
ALTER TABLE IF EXISTS ONLY public.news DROP CONSTRAINT IF EXISTS news_pkey;
ALTER TABLE IF EXISTS ONLY public.ingestion_logs DROP CONSTRAINT IF EXISTS ingestion_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.financial_ratios DROP CONSTRAINT IF EXISTS financial_ratios_pkey;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS companies_pkey;
ALTER TABLE IF EXISTS public.ingestion_logs ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.source_metadata;
DROP TABLE IF EXISTS public.reports;
DROP TABLE IF EXISTS public.raw_ingestion_items;
DROP TABLE IF EXISTS public.prices;
DROP TABLE IF EXISTS public.news;
DROP SEQUENCE IF EXISTS public.ingestion_logs_id_seq;
DROP TABLE IF EXISTS public.ingestion_logs;
DROP TABLE IF EXISTS public.financial_ratios;
DROP TABLE IF EXISTS public.companies;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.companies (
    ticker text NOT NULL,
    company_name text NOT NULL,
    name text,
    exchange text NOT NULL,
    sector text NOT NULL,
    industry text,
    description text NOT NULL,
    source text DEFAULT 'unknown'::text NOT NULL,
    source_url text,
    fetched_at text DEFAULT ''::text NOT NULL
);


--
-- Name: financial_ratios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.financial_ratios (
    ticker text NOT NULL,
    metric text NOT NULL,
    value real,
    period text NOT NULL,
    source text NOT NULL,
    source_url text,
    fetched_at text NOT NULL,
    data_date text
);


--
-- Name: ingestion_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ingestion_logs (
    id bigint NOT NULL,
    source text DEFAULT 'unknown'::text NOT NULL,
    job_type text,
    started_at text,
    finished_at text,
    run_at text NOT NULL,
    ingestion_type text NOT NULL,
    ticker text,
    status text NOT NULL,
    records_raw integer NOT NULL,
    records_upserted integer NOT NULL,
    message text
);


--
-- Name: ingestion_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.ingestion_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ingestion_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.ingestion_logs_id_seq OWNED BY public.ingestion_logs.id;


--
-- Name: news; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.news (
    id text NOT NULL,
    ticker text NOT NULL,
    date text NOT NULL,
    title text,
    snippet text,
    url text,
    published_at text,
    source text NOT NULL,
    source_url text,
    fetched_at text DEFAULT ''::text NOT NULL,
    content text NOT NULL
);


--
-- Name: prices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prices (
    ticker text NOT NULL,
    date text NOT NULL,
    open real NOT NULL,
    high real NOT NULL,
    low real NOT NULL,
    close real NOT NULL,
    volume bigint NOT NULL,
    source text DEFAULT 'unknown'::text NOT NULL,
    source_url text,
    fetched_at text DEFAULT ''::text NOT NULL,
    data_date text
);


--
-- Name: raw_ingestion_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_ingestion_items (
    id text NOT NULL,
    ingestion_type text NOT NULL,
    ticker text,
    source text NOT NULL,
    source_url text,
    fetched_at text NOT NULL,
    data_date text,
    payload text NOT NULL
);


--
-- Name: reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reports (
    id text NOT NULL,
    ticker text NOT NULL,
    date text NOT NULL,
    source text NOT NULL,
    content text NOT NULL
);


--
-- Name: source_metadata; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.source_metadata (
    source text NOT NULL,
    source_type text NOT NULL,
    url text,
    limitations text,
    legal_caveats text,
    fallback_behavior text,
    updated_at text NOT NULL
);


--
-- Name: ingestion_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ingestion_logs ALTER COLUMN id SET DEFAULT nextval('public.ingestion_logs_id_seq'::regclass);


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: financial_ratios; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.financial_ratios (ticker, metric, value, period, source, source_url, fetched_at, data_date) FROM stdin;
\.


--
-- Data for Name: ingestion_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ingestion_logs (id, source, job_type, started_at, finished_at, run_at, ingestion_type, ticker, status, records_raw, records_upserted, message) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: prices; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: raw_ingestion_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.raw_ingestion_items (id, ingestion_type, ticker, source, source_url, fetched_at, data_date, payload) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reports (id, ticker, date, source, content) FROM stdin;
report_fpt_1	FPT	2026-05-05	mock_report	Bao cao cho thay bien loi nhuan FPT on dinh, rui ro den tu bien dong nhu cau toan cau.
report_hpg_1	HPG	2026-05-04	mock_report	Bao cao nganh cho thay HPG chiu ap luc chi phi, can theo doi rui ro gia nguyen lieu.
\.


--
-- Data for Name: source_metadata; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.source_metadata (source, source_type, url, limitations, legal_caveats, fallback_behavior, updated_at) FROM stdin;
\.


--
-- Name: ingestion_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.ingestion_logs_id_seq', 1, false);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (ticker);


--
-- Name: financial_ratios financial_ratios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_ratios
    ADD CONSTRAINT financial_ratios_pkey PRIMARY KEY (ticker, metric, period);


--
-- Name: ingestion_logs ingestion_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ingestion_logs
    ADD CONSTRAINT ingestion_logs_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: prices prices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prices
    ADD CONSTRAINT prices_pkey PRIMARY KEY (ticker, date);


--
-- Name: raw_ingestion_items raw_ingestion_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_ingestion_items
    ADD CONSTRAINT raw_ingestion_items_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: source_metadata source_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.source_metadata
    ADD CONSTRAINT source_metadata_pkey PRIMARY KEY (source);


--
-- Name: idx_prices_ticker_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prices_ticker_date ON public.prices USING btree (ticker, date DESC);


--
-- Name: idx_prices_ticker_date_asc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prices_ticker_date_asc ON public.prices USING btree (ticker, date);


--
-- PostgreSQL database dump complete
--

\unrestrict L0IDomEwha7fmyiabBUzIZeqKqcQeXVSKOLhVwWfwks9shf9TgvRFxE8VcRrZ4L

